.pic
{
	height: 80px;
	width: 80px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 20px;
}
.btn1
{
	display: block;
	margin-left: auto;
	margin-right: auto;

}
.reg, a, .label
{
	text-align: center;
}
#confirm
{
	margin-top: 10px;
}
.logo
{
	width: 50px;
	height: 50px;
}
.item, .form
{
	width: 180px;
	display: inline-block;
	margin-top: 20px;
	margin-left: 20px;
	border: 50px;
	border-color: black;
}


.item-img
{
	width: 150px;
	height: 180px;
}
.item-name, .item-author, .item-price,.seller-name, .seller-phone, .seller-email
{
	margin-bottom: 0px;
}
.link
{
	text-decoration: none;
	color: white;
}
.also
{
	display: inline-block;
	margin-left: 50px;
}