{% extends "layout.html" %}

{% block title %}
	Sell
{% endblock %}

{% block main %}
	<div>
		<img src="https://i.pinimg.com/564x/ea/0b/ce/ea0bceb1bb574b4f99e0af014db5011a.jpg" class="pic" style="margin-top: 80px;">
		<form action="/sell" method="post">
			<div class="mb-3">
            	<input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="book-name" name="book-name" placeholder="Name of book" type="text">
        	</div>
        	<div class="mb-3">
            	<input class="form-control mx-auto w-auto" id="book-author" name="book-author" placeholder="Name of Author" type="text">
        	</div>
            <div class="mb-3">
            	<input class="form-control mx-auto w-auto" id="book-price" name="book-price" placeholder="Price(USD)" type="number">
        	</div>
            <div class="mb-3">
            	<input class="form-control mx-auto w-auto" id="book-img" name="book-img" placeholder="URL of book's cover" type="text">
        	</div>
        	<button class="btn1 btn-primary" type="submit">Sell</button>
		</form>
	</div>
{% endblock%}
